@import url(https://fonts.googleapis.com/css?family=Wire+One);
/*////header////*/

header {
  background-color: black;
  display: block;
  }

footer {
  position: fixed;
  background-color: black;
  display: block;
  bottom: 0%;
  width: 100%;
}
/*#top-banner {
  position: fixed;
  width: 100%;
  height: 50px;
  background: black;
  z-index: 1;
}*/

#top-banner {
  top:0;
}

#logo {
  font-family: 'Wire One', sans-serif;
  color: white;
  font-size: 3em;
  width: 50%;
  display: inline;
  text-align: right;
  min-width: 300px;
  max-width:1400px;
  }

#nav {
  font-family: 'Wire One', sans-serif;
  font-size: 1.5em;
  color: white;
  text-align: right;
  padding-top: 2%;

  /*float: right;
  display: table-cell;
  margin: 0 0 0 50px;
  font-family: 'Wire One', sans-serif;
  color: white;
  text-align: right;
  vertical-align: bottom;
  height: 50px;
  text-align: right;
  width: 50%;
  height: 50%;
  position: relative;
  overflow: hidden;*/ 
}

.navbar {
  background-image: linear-gradient(top, #7d7e7d 0%, #454645 50%, #0e0e0e 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7d7e7d), color-stop(0.5, #454645), color-stop(1, #0e0e0e));
  background-image: -moz-linear-gradient(top, #7d7e7d 0%, #454645 50%, #0e0e0e 100%);
  background-image: -o-linear-gradient(top, #7d7e7d 0%, #454645 50%, #0e0e0e 100%);
  background-image: -ms-linear-gradient(top, #7d7e7d 0%, #454645 50%, #0e0e0e 100%);
  font-family: 'Wire One', sans-serif;
  font-size: 1.5em;
}

.navbar-brand {
  
}

/*////body////*/

body{
  background-image: linear-gradient(top, #bfbfbf 0%, #dfdfdf 52%, #ffffff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bfbfbf), color-stop(0.523, #dfdfdf), color-stop(1, #ffffff));
  background-image: -moz-linear-gradient(top, #bfbfbf 0%, #dfdfdf 52%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #bfbfbf 0%, #dfdfdf 52%, #ffffff 100%);
  background-image: -ms-linear-gradient(top, #bfbfbf 0%, #dfdfdf 52%, #ffffff 100%);  
}

p {
  display: block;
  font-family: 'Wire One', sans-serif;
  font-size: 1em;
  color: #383c3c;
  position: relative;
  text-align: center;
}

p>.fa {
  text-align: center;
}

.colborder {
  width: 2px;
  color: black;
}
         
.footertext {
  font-family: 'Wire One', sans-serif;
  font-size: 1.2em;
  color: white;
  text-align: center;
  }

h3 {  
  font-family: 'Wire One', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #383c3c;
}


/*////column structure////*/
* {
  box-sizing: border-box;
}

/*.container {
  width: 960px;
  margin: 0 auto;
  background: aqua;
}*/

.row{
  clear: both;
}

.row:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
  margin-bottom: 0;
}

[class*="col-"] {
  float: left;
  margin-left: 0;
}

[class*="col-"]:first-child {
  margin-left: 0;
}

.col-2 {
  width: 49%;
}

.col-6 {
  width: 49%;
}